.ghost {
    border: 2px solid var(--green-light);
    background-color: transparent;
    color: var(--green-light);
    text-align: center;
    padding: 20px;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.ghost:focus {
    filter: brightness(.8);
}

.ghost--caution {
    border: 2px solid var(--red);
    color: var(--red);
}