.cardProduto {
    border-radius: var(--border-radius);
    overflow: hidden;
    background-color: var(--black);
    border: 2px solid var(--gray);
    color: var(--white);
    width: 220px;
    height: 420px;
}

.cardProduto { transition: all .3s ease-in-out; }
.cardProduto:hover { transform: scale(1.05); }

.cardProduto__imagem {
    height: 210px;
    object-fit: cover;
    object-position: center;
    width: 100%;
}

.cardProduto__conteudo {
    display: grid;
    gap: 32px;
    padding: 20px;
}

.cardProduto__conteudo__btns {
    display: flex;
    align-items: center;
    gap: 8px;
}

.cardProduto__conteudo__btns > * {
    transition: all .1s ease-in-out;
}

.cardProduto__conteudo__btns > *:hover {
    transform: scale(1.15);
}

.cardProduto__conteudo__btns button {
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

.cardProduto__conteudo h2 {
    font-size: var(--size-text-md);
}

.cardProduto__conteudo span {
    color: var(--gray-light);
}

.cardProduto__conteudo__header {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    white-space: nowrap;
    overflow: hidden;
}

.cardProduto__conteudo__header h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cardProduto__conteudo__curtidas {
    display: flex;
    align-items: center;
    gap: 6px;
    transition: all .1s ease-in-out;
}

.cardProduto__conteudo__curtidas:hover {
    transform: scale(1.15);
}

.cardProduto__conteudo__curtidas__icone {
    display: flex;
    gap: 4px;
    align-items: center;
}

.cardProduto__conteudo__info {
    display: grid;
    gap: 10px;
}

.cardProduto__conteudo__info span {
    font-size: var(--size-text-min);
}