.duvidaContainer {
    list-style: none;
    width: 600px;
}

.duvida__header {
    background-color: var(--black);
    color: var(--white);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.duvida:first-child .duvida__header {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.duvida:last-child .duvida__header--minimizado {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.duvida__conteudo {
    background-color: var(--gray);
    color: var(--white);
    padding: 20px;
    display: none;
}

.duvida__conteudo--expandido {
    display: block;
}

.duvida:last-child .duvida__conteudo {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}

